

.main{
    margin-top: 800px;
}
.contenedorsection-4{
    width: 100%;
}
.star{
    position: relative;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .star{
        position: relative;
        text-align: center;
    }
    
}

